nav{
    display: flex;
}
nav div{
    display: flex;
    width: 100%;
    padding: 10px;
}

a{
    padding: 8px;
    color: rgb(97, 97, 97);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

nav div:nth-child(2){
    justify-content: flex-end;
}

#google-logo-div{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#google-logo-div img{
    max-width: 100%;
}
#google-logo-div div{
    width: 100%;
}

.material-icons-outlined{
    font-family: "Material Icons";
    font-size: 1.4em;
    color: rgb(182, 182, 182);
}

.nav-material-apps{
    position: relative;
    top: -4px;
    font-size: 25px;
    padding: 7px;
}

.nav-material-profile{
    position: relative;
    top: -8px;
    font-size: 35px;
    padding: 7px;
}

.search-icon{
    position:relative;
    top: 10px;
    left: 40px;
    width: 20px;
    height: 20px;
}

.search-mic-icon{
    position:relative;
    top: 10px;
    right: 40px;
    width:20px;
    height:20px;
}

.search-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;    
}

.search-div input{
    width: 500px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid;
    border-color: lightgrey;
    padding: 0 50px;
    outline: none;
}

.search-div input:hover{
    box-shadow: 0px 1px 2px 2px rgb(221, 221, 221);
}

#buttons{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    margin-top: 20px;
    color:rgb(128, 128, 128);
}


button:hover{
    border: 1px solid;
    border-color: rgb(190, 190, 190);
    color: black;
} 

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgb(236, 236, 236);
    padding: 5px 0px 5px 0px;
    border-top: 1px solid;
    border-color: lightgray;
}

footer div{
    padding: 5px;
    display: flex;
    width: 100%;
    white-space: nowrap;
}

footer div:nth-child(1){
    margin-left: 20px;
}

footer div:nth-child(2){
    justify-content: flex-end;
    margin-right: 20px;
}

footer div a{
    padding-left: 20px;
}

